body {
  background-color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding-left: 10px;
}

.card {
  margin: 2rem 0;
  width: 500px;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 100px;
  height: fit-content;
} 

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.horizontal {
  display: flex;
}

.error {
  color: red;
  font-style: italic;
  margin: 10px 0;
  margin-left: 10px;
}

form {
  margin: 10px 0;
}
